body {
  font-family: "Teko", sans-serif;
  margin: 0;
  padding: 0;
}
.top-banner {
  height: 500px;
  background-image: url(/images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 174px 307px 175px 307px;
}
.top-banner-content {
  color: white;
  text-align: center;
}
.top-banner-content h1 {
  font-size: 65px;
  margin: 0;
}
.top-banner-content p {
  font-size: 30px;
}
.top-banner-content a {
  color: white;
  font-size: 35px;
  text-decoration: none;
  background-color: orangered;
  border-radius: 5px;
  padding: 5px;
}

.thanks-giving h1 {
  font: 70px;
  text-align: center;
  color: white;
  background-color: blueviolet;
}
